build/
bin/
out/
.vs/
.vscode/
cmake-build-*/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
compile_commands.json
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.geode.temp
*.zip
